@import "@styles/main.scss";

.wrapper {
	@include layout(row, space-between);
	@include font(1.6rem, normal, $white-100);
	width: 100%;
	height: $footer-height;

	background-color: map-get($map: $dark-theme, $key: "footer");

	padding: 32px 36px;
}
