@import "@styles/main.scss";

.bold {
	&.dark {
		color: map-get($map: $dark-theme, $key: "heading");
	}
}

.paragraph {
	padding: 1rem;
	font-size: 1.6rem;
	&.dark {
		color: map-get($map: $dark-theme, $key: "heading");
	}
}
