// Common
$black-100: #000000ff;
$black-90: #000000e6;
$black-80: #000000cc;
$black-70: #000000b3;
$black-60: #00000099;
$black-50: #00000080;
$black-40: #00000066;
$black-30: #0000004d;
$black-20: #00000033;
$black-10: #0000001a;

$white-100: #ffffffff;
$white-90: #ffffffe6;
$white-80: #ffffffcc;
$white-70: #ffffffb3;
$white-60: #ffffff99;
$white-50: #ffffff80;
$white-40: #ffffff66;
$white-30: #ffffff4d;
$white-20: #ffffff33;
$white-10: #ffffff1a;

// Theme
$dark-theme: (
	"header": #000000ff,
	"footer": #3c3c3c,
	"heading": #000000ff,
	"text": #cccccc,
);
