// Breakpoints for Media Query
$breakpoint-mobile: 375px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// Font Size
$font-xlarge: 2.8rem;
$font-large: 2.4rem;
$font-medium: 1.6rem;
$font-small: 1.2rem;
$font-xsmall: 0.8rem;

// Normalize
$default-font: 10px;
